@charset "utf-8";
/* CSS Document */

/*CSS reset*/
body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,select,p,blockquote,th,td { margin: 0; padding: 0;}
table { border-collapse: collapse; border-spacing: 0;}
main { display: block;}
fieldset,img { border: 0;}
ol,ul { list-style: none;}
caption,th { text-align: center;}
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal;}
q:before,q:after { content: '';}
abbr,acronym { border: 0;}
input,a,select,textarea { outline: none;}
a { text-decoration: none; color: #00acee;}
a:hover { text-decoration: underline;}
.bBox { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}

/*解决如果外部有一个div容器，其内部div容器设置了float样式，则外部的容器div因为内部没有clear，导致不能撑开*/
.clearfix:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix { display: inline-block;}
/* Hides from IE-mac */ 
*html .clearfix { height:1%; }
.clearfix { display:block; }
/* End hide from IE-mac */

/*通用*/
html { -webkit-tap-highlight-color: transparent;}
html,body { height: 100%;}
/*body { min-width: 1200px; min-height: 100%; width: expression_r (document.body.clientWidth < 1200? "1200px": "auto"); background: #f2f2f2; color: #313131;}*/
body,input,select,textarea { font: 14px/1.5 tahoma,arial,\5FAE\8F6F\96C5\9ED1;}
/*通用*/

.dCon { width: 100%; padding: 10px;}
.OrangeDiv { float: left; width: 33.3333%; padding: 10px;}
.OrangeDiv div { width: 100%; height: 0; padding-top: 100%; background-color: #f39800; border-radius: 5%;}

























































